/* flex布局 start! */


/* a */

.swiper-slide,
.film-box,
.film-charts-box,
.film-online-box,
.film-offline-box,
.film-grade,
.film-star,
.map-container,
.film-charts-box,
.film-name,
.name-all,
.time-all,
.film-charts-tab,
.film-line-box,
.visit,
.history,
.map-tab,
.top-container,
.top,
.percent,
.circle-all>div,
.circle-data,

/* b */

.title,
.section,
.aside-left,
.total-download,
.m-phone,
.tab,
.tab-head,
.tab-body,
.facility-box,
.facility-left,
.facility-right,
.facility1,
.facility2,
.facility-s-left,
.facility-name,
.facility-top-all,
.logo-a,
.logo-b,
.logo-c,
.logo-d,

/* c */

.section-p,
.user,
.user-left,
.duration,
.genre,

/* d */

.user-right-b,
.user-img,
.user-name-all,
.user-name,
.user-box-percent,
.gender {
  display: -webkit-flex;
  /* Safari */
  display: flex;
}


/* a */

.swiper-slide,
.film-grade,
.film-star,
.map-container,
.film-name,
.name-all,
.time-all,
.film-charts-tab,
.visit,
.history,
.top-container,
.circle-all>div,

/* b */

.title,
.section,
.tab-head,
.tab-body,
.facility-box,
.facility-right,
.facility1,
.facility-s-left,
.logo-a,
.logo-b,
.logo-c,

/* c */

.section-p,
.user,
.duration,
.genre,

/* d */

.user-img,
.user-name-all,
.user-name,
.user-box-percent,
.user-name {
  flex-direction: row;
}


/* a */

.film-box,
.film-charts-box,
.film-online-box,
.film-offline-box,
.film-charts-box,
.film-line-box,
.map-tab,
.top,
.percent,
.circle-data,
.logo-d,

/* b*/

.aside-left,
.total-download,
.m-phone,
.tab,
.facility-left,
.facility2,
.facility-name,
.facility-top-all,

/* c */

.user-left,

/* d */

.user-right-b,
.gender {
  flex-direction: column;
}


/* flex布局 end! */


/* 颜色 start! */

.color-pink {
  color: #dc3959;
}

.color-gray {
  color: #aeb5c2;
}

.color-gray1 {
  color: #9da2af;
}

.color-white {
  color: #fff;
}


/* 颜色 end! */


/* 宽度 start! */

.width-100 {
  width: 100%;
}

.width-98 {
  width: 98%;
}

.width-90 {
  width: 90%;
}

.width-80 {
  width: 80%;
}

.width-70 {
  width: 70%;
}

.width-60 {
  width: 60%;
}

.width-50 {
  width: 50%;
}

.width-40 {
  width: 40%;
}

.width-30 {
  width: 30%;
}

.width-34 {
  width: 34%;
}

.width-25 {
  width: 25%;
}

.width-20 {
  width: 20%;
}

.width-10 {
  width: 10%;
}


/* 宽度 end！ */


/* 高度 start! */

.hgt-730 {
  height: 7.30rem;
}

.hgt-500 {
  height: 5.00rem;
}

.hgt-440 {
  height: 4.40rem;
}

.hgt-399 {
  height: 3.99rem;
}

.hgt-280 {
  height: 2.80rem;
}

.hgt-240 {
  height: 2.40rem;
}


/* 高度 end！ */


/* 字体大小 start！ */

.fs-32 {
  font-size: 0.32rem;
}

.fs-30 {
  font-size: 0.3rem;
}

.fs-28 {
  font-size: 0.28rem;
}

.fs-26 {
  font-size: 0.26rem;
}

.fs-24 {
  font-size: 0.24rem;
}

.fs-22 {
  font-size: 0.22rem;
}

.fs-20 {
  font-size: 0.20rem;
}

.fs-18 {
  font-size: 0.18rem;
}

.fs-16 {
  font-size: 0.16rem;
}

.fs-14 {
  font-size: 0.14rem;
}

.fs-12 {
  font-size: 0.12rem;
}


/* 字体大小 end! */


/* 内外间距 start！ */

.mgn-top-80 {
  margin-top: 0.8rem;
}

.mgn-top-60 {
  margin-top: 0.6rem;
}

.mgn-top-40 {
  margin-top: 0.4rem;
}

.mgn-bottom-50 {
  margin-bottom: 0.50rem;
}

.pad-top-30 {
  padding-top: 0.3rem;
}


/* 内外间距 end！ */


/* 第一章 */


/* 1 header style start! */

.title {
  height: 0.4rem;
  line-height: 0.4rem;
  margin: 0 auto;
  border-bottom: 1px solid #1e2330;
  padding: 0.55rem 0 0.22rem 0;
  margin-bottom: 0.38rem;
}


/* 1 header style end! */


/*2 swiper style start! */

html,
body {
  position: relative;
  height: 100%;
  min-width: 1200px;
  max-width: 2560px;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  background: url(../img/BG.png) no-repeat;
  background-size: 100% 100%;
}

.swiper-container {
  width: 100%;
  height: 3.8rem;
  margin: 0rem 0 0.2rem 0;
}

.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}


/* 影片评分 */

.film-box {
  width: 12%;
  height: 100%;
  margin-right: 0.7rem;
  color: #787f8c;
}

.film-img {
  width: 2.3rem;
  height: 2.8rem;
}

.film-grade {
  padding-left: 0.1rem;
}

.grade {
  width: 52%;
  text-align: left;
}

.big {
  color: #fff;
}

.big,
.for {
  height: 0.5rem;
  line-height: 0.5rem;
}

.film-star {
  padding: 0 0.35rem;
  height: 0.3rem;
  line-height: 0.3rem;
}

.star {
  margin: 0 0.05rem;
  width: 0.22rem;
}


/* **********影片次数********** */

.film-charts-box {
  width: 33%;
  height: 100%;
}

.film-name {
  height: 0.3rem;
  line-height: 0.3rem;
  margin-bottom: 0.2rem;
}

.film-name img {
  margin: 0.1rem;
}

.name-title {
  height: 0.4rem;
  line-height: 0.4rem;
}

.film-graph {
  margin: 0 auto;
  height: 0.4rem;
  line-height: 0.4rem;
  border: none;
  border-radius: 0.04rem;
  background-color: #19202d;
  text-align: center;
}


/* 选项卡 */

.film-charts-tab {
  text-align: center;
  margin: 0 auto;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  font-weight: bold;
}

.film-charts-tab div {
  border-right: 2px solid #ba3a52;
  color: #ba3a52;
  padding: 0 0.15rem;
}

.film-charts-tab div:nth-child(2) {
  color: #fff;
}

.film-charts-tab div:last-child {
  border-right: none;
}

.film-day-charts {
  width: 100%;
  height: 100%;
}

.sw-film {
  width: 6.7rem;
  height: 2.3rem;
}


/* **********线上占比----线下占比********** */

.film-line-box {
  position: relative;
  width: 15.7%;
  height: 100%;
}

.line-title {
  margin: 0.1rem 0;
  font-weight: normal;
}

.chart-circle {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  margin: 0 auto;
}

.percent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.percent-value {
  margin-top: 1.1rem;
  height: 0.5rem;
  line-height: 0.5rem;
}

.percent-name {
  height: 0.3rem;
  line-height: 0.3rem;
}

.pink {
  width: 1rem;
  margin: 0 0.2rem 0 0;
  text-align: right;
}

.pink,
.number {
  height: 0.5rem;
  line-height: 0.5rem;
  margin-top: 0.1rem;
}


/*2 swiper style end! */


/*3 map style start! */

.map-container {
  margin: 0 auto;
}


/* **********合作伙伴闪烁区域********** */

.map {
  position: relative;
  width: 64%;
  margin: 0.3rem 0.5rem;
}

.map-container-a {
  background: url(../img/map-container-a.png) no-repeat;
  background-size: 100% 100%;
}

.map-container-b {
  background: url(../img/map-container-b.png) no-repeat;
  background-size: 100% 100%;
}

.circle-all {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.circle-all>div {
  height: 0.02rem;
  line-height: 0.2rem;
}

.circle-pink {
  position: relative;
  width: 0.06rem;
  height: 0.06rem;
  border-radius: 50%;
  background: #dc3959;
  margin: 0.07rem;
}

.circle-data {
  position: absolute;
  top: 0.1rem;
  left: 0.02rem;
  display: none;
}

.bot {
  width: 0;
  height: 0;
  border-bottom: 0.12rem solid #dc3959;
  border-right: 0.08rem solid transparent;
}

.top-c {
  text-align: center;
  width: 1.2rem;
  height: 0.26rem;
  line-height: 0.26rem;
  background-color: #dc3959;
}

.circle-bj {
  position: absolute;
  top: 1.2rem;
  left: 6.9rem;
}


/* Shanghai */

.circle-sh {
  position: absolute;
  top: 1.6rem;
  left: 7rem;
}


/* Kanagawa */

.circle-kn {
  position: absolute;
  top: 1.4rem;
  left: 7.5rem;
}


/* Bombay */

.circle-bo {
  position: absolute;
  top: 2rem;
  left: 5.9rem;
}


/* Johannesburg */

.circle-jo {
  position: absolute;
  top: 3.7rem;
  left: 4.3rem;
}


/* Rio de Janeiro */

.circle-ri {
  position: absolute;
  top: 3.8rem;
  left: 2.2rem;
}


/* Madird */

.circle-ma {
  position: absolute;
  top: 1.2rem;
  left: 3.6rem;
}


/* Morges */

.circle-mo {
  position: absolute;
  top: 1rem;
  left: 3.9rem;
}


/* Amsterdam */

.circle-am {
  position: absolute;
  top: 0.8rem;
  left: 3.8rem;
}


/* London */

.circle-lo {
  position: absolute;
  top: 0.8rem;
  left: 3.1rem;
}


/* Toronto */

.circle-to {
  position: absolute;
  top: 0.6rem;
  left: 2.15rem;
}


/* New York */

.circle-ne {
  position: absolute;
  top: 0.95rem;
  left: 2rem;
}


/* Atlanta */

.circle-at {
  position: absolute;
  top: 1.25rem;
  left: 1.5rem;
}


/* Chicago */

.circle-ch {
  position: absolute;
  top: 1.5rem;
  left: 1.3rem;
}


/* Seattle */

.circle-se {
  position: absolute;
  top: 1.05rem;
  left: 0.45rem;
}


/* Los Angeles */

.circle-los {
  position: absolute;
  top: 1.25rem;
  left: 0.3rem;
}


/* ASIA */

.circle-AS {
  position: absolute;
  top: 1.85rem;
  left: 6.8rem;
}


/* AUSTRALIA */

.circle-AU {
  position: absolute;
  top: 3.7rem;
  left: 7.7rem;
}


/* EUROPE */

.circle-EU {
  position: absolute;
  top: 1.34em;
  left: 4.32rem;
}


/* AFIRCA */

.circle-AF {
  position: absolute;
  top: 2.6em;
  left: 4.5rem;
}


/* NORTH AMERICA */

.circle-NA {
  position: absolute;
  top: 1.5em;
  left: 1.05rem;
}


/* SOUTH AMERICA */

.circle-SA {
  position: absolute;
  top: 3.2em;
  left: 1.9rem;
}


/* **********选项卡********** */

.map-tab {
  height: 4.64rem;
  /* background: orange; */
  text-align: center;
  margin: 0 0.4rem 0 0.3rem;
}

.map-tab-top {
  border-bottom: 1px solid #717580;
  padding: 0.1rem 0;
  margin-bottom: 0.2rem;
}

.top-p {
  font-size: 0.16rem;
  height: 0.44rem;
  line-height: 0.44rem;
  color: #000;
  /* text-align: center; */
  margin: 0.1rem 0.2rem 0.1rem 0.2rem;
  border-radius: 0.05rem;
  background-color: #f0f0f0;
}

.top .top-p {
  margin: 0.035rem 0.2rem 0.035rem 0.2rem;
}

/* .top-p-click {
  background: #dd2556;
  color: #fff;
  font-size: 0.22rem;
} 
.top-p-remove {
  background: #f0f0f0;
  color: #000;
  font-size: 0.16rem;
}*/
.choose{
  background: #dd2556;
  color: #fff;
  font-size: 0.22rem;
}


/*3 map style end! */


/* 第二章 */

.line {
  width: 1.67rem;
  height: 0.38rem;
  line-height: 0.38rem;
  border: 1px solid #5c606b;
  border-radius: 0.08rem;
  text-align: center;
  margin-left: 10rem;
}

.section {
  margin: 0 auto;
}

.aside-left,
.aside-right {
  height: 8.7rem;
}


/* 左边 */

.aside-left {
  width: 26.15%;
}


/* 1 total-download排名 */

.total-download {
  height: 4.55rem;
  /* background-color: yellow; */
}

.tab {
  margin-top: 0.2rem;
}

.tab-body {
  border-top: 1px solid #1b1f2d;
}

.tab-body:first-child {
  border: none;
}

.tab-body:last-child {
  border-top: 3px solid #303544;
}

.tab-tb {
  width: 0.8rem;
  height: 0.45rem;
  line-height: 0.45rem;
  text-align: center;
}


/* 2 mobilephone排名 */

.m-phone {
  height: 4.15rem;
  /* background-color: green; */
}

.charts {
  width: 100%;
  /* height:3.2rem; */
  /* background-color:green; */
}

.m-phone-zhexian {
  width: 4rem;
  height: 3.2rem;
}


/* 右边 */

.aside-right {
  width: 70.85%;
  margin-left: 3%;
  position: relative;
}

.logo-a {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  bottom: 60%;
}

.sun {
  margin: 0 3.9rem 0 2.7rem;
}

.logo-b {
  position: absolute;
  top: 25.5%;
  left: 0;
  right: 0;
  bottom: 60%;
}

.logo-c {
  position: absolute;
  top: 90%;
  left: 0;
  right: 0;
  bottom: 10%;
}


/* 1应用下载*/

.application-download {
  width: 100%;
  height: 3.3rem;
}

.application-download-charts {
  width: 10.6rem;
  margin: 0 auto;
}


/* 2.设备盒子 */

.facility-box {
  width: 100%;
}

.facility-name {
  text-align: right;
  width: 1.25rem;
  margin-right: 0.35rem;
  height: 2rem;
}

.facility-title {
  margin-top: 0.18rem;
}

.facility-top-all {
  text-align: left;
}

.facility-top {
  width: 1.7rem;
  height: 0.2rem;
  line-height: 0.2rem;
}

.facility-s-right {
  width: 3rem;
  height: 1.825rem;
}

.facility-circle {
  width: 1.7rem;
  height: 1.7rem;
  margin: 0.0625rem 1.25rem 0.0625rem 0rem;
}

.facility-right .facility-s-right .facility-circle {
  margin-left: 0.50rem;
}

.facility-left .facility1:first-child {
  margin-bottom: 0.7rem;
}

.facility2 .facility-s-left {
  margin-bottom: 0.5268rem;
}

.facility2 {
  padding-left: 0.8rem;
  border-left: 1px solid #5f636f;
}


/* 第三章 */

.user {
  position: relative;
  margin: 0 auto;
  margin-top: 0.65rem;
}

.logo-d {
  position: absolute;
  top: 0%;
  left: 30%;
  right: 55%;
  bottom: 0%;
}

.gender {
  width: 0.6rem;
  text-align: right;
}

.gender .gender-img:nth-child(1) {
  margin-top: 0.35rem;
}

.gender .gender-img:nth-child(2) {
  margin-top: 0.15rem;
}

.gender-img {
  width: 0.6rem;
  height: 0.37rem;
  font-size: 0;
}

.user-left-a {
  width: 24%;
  height: 2.2rem;
  text-align: right;
  background: url(../img/total-number-of-users-bg.png) no-repeat;
  background-size: 100% 100%;
}

.user-left-b {
  width: 2.4rem;
  height: 2rem;
  margin-left: 0.15rem;
  text-align: right;
  background: url(../img/offline-bg.png) no-repeat;
  background-size: 100% 100%;
}

.user-left-a div {
  margin-right: 0.5rem;
}

.user-left-b div {
  margin-right: 0.25rem;
}

.total-user {
  font-weight: bold;
  height: 0.5rem;
  line-height: 0.5rem;
}

.border {
  border-bottom: 1px solid #5f636f;
  margin-top: 0.15rem;
  width: 99%;
}

.user-left-b .border {
  border: 1px solid #5f636f;
  margin-top: 0.1rem;
  width: 99%;
}

.user-right {
  height: 2.6rem;
  margin-top: 0.4rem;
  position: relative;
}

.logo-e {
  position: absolute;
  top: 70%;
  left: 1%;
  right: 80%;
  bottom: 0%;
}

.user-right-a {
  width: 71.5%;
  margin-left: 4.5%;
  height: 2.5rem;
}

.user-right-b {
  width: 8.1rem;
  margin-left: 0.3rem;
  height: 2rem;
  background: url(../img/offline-per-bg.png) no-repeat;
  background-size: 100% 100%;
}


/* 第四章 */

.section-p {
  width: 84.9%;
  margin: 0 10.4% 0 4.7%;
}

.section-p .aside-left {
  width: 30%;
}

.section-p .aside-right {
  width: 67%;
  margin-left: 3%;
}

.duration {
  height: 2.9rem;
  border-bottom: 1px solid #494f5d;
}

.genre {
  position: relative;
  height: 5.8rem;
}

.aside-left .duration div:nth-child(1) {
  width: 2.3rem;
}

.dur {
  margin-top: 2rem;
}

.per-a {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  margin-top: 0.2rem;
}

.gen {
  margin-top: 0.7rem;
}

.per-b {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 50%;
  margin: 0.9rem 0.15rem 0.3rem 0.15rem;
}

.user-img {
  padding: 0.1rem 0.3rem;
}

.user-per-img {
  width: 1.05rem;
  margin: 0 0.4rem;
}

.user-name-all {
  padding: 0 0.33rem;
}

.user-name {
  margin: 0 0.3rem;
}

.user-title {
  height: 0.3rem;
  line-height: 0.3rem;
  width: 1rem;
}

.user-circle {
  width: 0.16rem;
  height: 0.16rem;
  border-radius: 0.08rem;
  background-color: #cf2756;
  margin: 0.06rem 0.05rem;
}

.user-box-percent {
  padding: 0.1rem 0.2rem;
}

.user-box-percent div {
  height: 0.3rem;
  line-height: 0.3rem;
  text-align: center;
}

.user-box-percent div:nth-child(1) {
  width: 27.3%;
  background-color: #cf2756;
  border-top-left-radius: 0.15rem;
  border-bottom-left-radius: 0.15rem;
}

.user-box-percent div:nth-child(2) {
  width: 26.8%;
  background-color: #777a83;
}

.user-box-percent div:nth-child(3) {
  width: 23.4%;
  background-color: #666a74;
}

.user-box-percent div:nth-child(4) {
  width: 22.5%;
  background-color: #5b606b;
  border-top-right-radius: 0.15rem;
  border-bottom-right-radius: 0.15rem;
}